<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/scss/font-awesome.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="/newcss/pstyle.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body style="width:100%; ">
    <nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top" >
      <div class="container">
        <a class="navbar-brand" href="#"><div
            class="logo"
            style="font-size: 150%; font-family: 'Raleway';font-weight: 700; color: #fff; margin:20px;"
          >Khana Khazana</div></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
              >Hello {{data.0.cid}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./#contact">Contact</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>

          </ul>
          <button type="button" class="rounded-pill btn-rounded">Order Now
            <span><i class="fas fa-phone-alt"></i></span>
          </button>
        </div>
      </div>
    </nav>
  
    <div class="" style=" width:80%;height:fit-content; margin:120px auto;padding: 12px; background-color:bisque">
     
        <h3 class="title">Order Details</h3>
            
        
           
            
      
           
                <table class="table" >
                  <tr>
                    <th>Order-date</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th>Status</th>
                  </tr>
                  {{#if data}}
    {{#each data}}
                  <tr >
                    <td>{{this.order_date}}</td>
                    <td>{{this.title}}</td>
                    <td>&#8377; {{this.price}}</td>
                    <td>{{this.qty}}</td>
                    <td>&#8377; {{this.total}}</td>
                    <td>{{this.status}}</td>
                  </tr>
{{/each}}
    {{/if}}
                </table>
  
                
                
    
           <br>
             
    </div>


    <a href="/" class="shadow btn-primary rounded-circle back-to-top" id="anim">
        <i class="fas fa-home"></i>
      </a>

    {{!-- <script src="./public/newcss/pscripta.js"></script> --}}
  </body>
</html>